[submodule "RecoilOceanWaves"]
	path = Widgets/RecoilOceanWaves
	url = https://github.com/jacobguenther/RecoilOceanWaves
[submodule "Widgets/widget1"]
	path = Widgets/widget1
	url = https://github.com/chmod777-tester/widget1
[submodule "Widgets/BAR-Widgets"]
	path = Widgets/BAR-Widgets
	url = https://github.com/WybrenKoelmans/BAR-Widgets
